+space_body_color('15','#ffffff')

+body_parragraph('60px', '60px', 'set_padding_20px', '#ffffff', "24px", "30px", "#455560", "mobile_font_18px","center") 

	| <span style="font-weight: bold;">Need a good reason to invest? <span style="    white-space: nowrap;" >Here are ten.</span></span>

+space_body_color('5','#ffffff')

+body_parragraph('35px', '35px', 'set_padding_20px align-left', '#ffffff', "13px", "18px", "#707372", "align-left","center") 

	| The BlackRock Multi-Asset Income Fund has expanded the income landscape and&nbsp;given investors many reasons to make it their core income choice.

	+anchor_links_menu_desktop(link_lead_offers)  Here&acute;s our top three

	| .


+space_body_color('25','#ffffff','','space_30')

+body_parragraph('0px', '0px', '', '#e8eff1', "13px", "16px", "#707372", "","center") 
	
		
	//two column part 1

	+body_parragraph('45px', '45px', 'set_padding_20px', '#e8eff1')
		+table
			tr
				td(colspan="2")
					img(src="#{path_local_2}_Number_1.jpg", alt=atl_text_offer3,  width="500", height="auto", class="mobile_nunmer_1", style="font-family:Arial;font-size:11px;display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )
			tr
				//Left block
				td(valign="top", class="set_mobile_width_50_pct")
					+table_break('180','left','set_mobile_width_100_pct')
						

						tr
							td

								img(src="#{path_local_2}_Icon_1.jpg", alt=atl_text_offer3,  width="180", height="auto", class="mobile_icon_1", style="font-family:Arial;font-size:11px;display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )


				//Right block
				td(valign="top", class="set_mobile_width_50_pct")
					+table_break('320','right','set_mobile_width_100_pct')					
						
						tr
							+td_title_blue_2 Double the Yield of a Balanced Portfolio

						tr
							+td_paragraph_blue_2 Delivered 

								+anchor_links_menu_desktop(link_lead_offers) double the yield 
								| of a balanced portfolio.
	+body_parragraph('45px', '45px', 'set_padding_0px', '#e8eff1')
		+space_body_color('1','#cccccc')
	

	//two column part 2

	+body_parragraph('45px', '45px', 'set_padding_20px', '#e8eff1')
		+table
			tr
				td(colspan="2")
					img(src="#{path_local_2}_Number_2.jpg", alt=atl_text_offer3,  width="500", height="auto", class="mobile_nunmer_2", style="font-family:Arial;font-size:11px;display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )
			tr
				//Left block
				td(valign="top", class="set_mobile_width_50_pct")
					+table_break('180','left','set_mobile_width_100_pct')
						

						tr
							td

								img(src="#{path_local_2}_Icon_2.jpg", alt=atl_text_offer3,  width="180", height="auto", class="mobile_icon_2", style="font-family:Arial;font-size:11px;display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )


				//Right block
				td(valign="top", class="set_mobile_width_50_pct")
					+table_break('320','right','set_mobile_width_100_pct')					
						
						tr
							+td_title_blue_2 Less Volatility

						tr
							+td_paragraph_blue_2 Exhibited 
								+anchor_links_menu_desktop(link_lead_offers) less volatility 
								| than a balanced portfolio.
	+body_parragraph('45px', '45px', 'set_padding_0px', '#e8eff1')
		+space_body_color('1','#cccccc')


	//two column part 3	

	+body_parragraph('45px', '45px', 'set_padding_20px', '#e8eff1')
		+table
			tr
				td(colspan="2")
					img(src="#{path_local_2}_Number_3.jpg", alt=atl_text_offer3,  width="500", height="auto", class="mobile_nunmer_3", style="font-family:Arial;font-size:11px;display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )
			tr
				//Left block
				td(valign="top", class="set_mobile_width_50_pct")
					+table_break('180','left','set_mobile_width_100_pct')
						

						tr
							td

								img(src="#{path_local_2}_Icon_3.jpg", alt=atl_text_offer3,  width="180", height="auto", class="mobile_icon_3", style="font-family:Arial;font-size:11px;display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )


				//Right block
				td(valign="top", class="set_mobile_width_50_pct")
					+table_break('320','right','set_mobile_width_100_pct')					
						
						tr
							+td_title_blue_3 A &ldquo;Go-Anywhere&rdquo; Income Strategy

						tr
							+td_paragraph_blue_2 Provides access to a comprehensive income universe for 

								+anchor_links_menu_desktop(link_lead_offers) meaningful diversification.
	+body_parragraph('45px', '45px', 'set_padding_0px', '#e8eff1')
		+space_body_color('1','#cccccc')



	+space_body_color('25','#e8eff1')	
	

	//two column part CTA

	+body_parragraph('25px', '25px', 'set_padding_20px', '#e8eff1')
		+table
			tr
				//Left block
				td(valign="top", class="block_mobile hide_for_mobile", style="padding-top:6px;")
					+table_break('202','left','set_mobile_width_100_pct')
						tr
							td(align="right", class="mobile_top_11px")
								a(href="#")
									img(src="#{path_local_2}_CTA_green.jpg", alt="",  width="126", height="auto", class="mobile_center", style="font-family:Arial;font-size:11px;display: block; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )


				//Right block
				td(valign="top", class="block_mobile")
					+table_break('338','right','set_mobile_width_100_pct')					

						tr
							+td_title_blue_4 See the full list 

						tr
							+td_paragraph_blue_4 To see the full list, 
								+anchor_links_menu_desktop(link_lead_offers) click here.

	+table
			tr
				td(style="line-height: 0px;")
					a(href="#")
						img(class="cta_version_2", width="1", height="1", src="#{path_local}_spacer.gif", style="display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;")

			

	+space_body_color('40','#e8eff1')	
	+space_body_color('1','#cccccc')	
