+space_body_color('15','#ffffff')

+body_parragraph('25px', '25px', 'set_padding_20px', '#ffffff', "24px", "30px", "#455560", "","center") 

	| <span style="font-weight: bold;">Why You Need to Focus on Volatility</span>

+space_body_color('10','#ffffff')

+body_parragraph('50px', '50px', 'set_padding_20px align-left', '#ffffff', "13px", "18px", "#707372", "align-left","center") 

	| As market risk evolves, Michael Fredericks shares insights on his global, best-ideas income approach that carefully considers risk to 

	+anchor_links_menu_desktop(link_lead_offers)  protect against volatility

	| .

+space_body_color('35','#ffffff','','space_30')

+body_parragraph('0px', '0px', '', '#e8eff1', "13px", "16px", "#707372", "","center") 
	
	+space_body_color('25','#e8eff1','','space_20')
	
	+body_parragraph('25px', '25px', 'set_padding_20px', '#', "13px", "18px", "#707372", "","center") 
		+table_background('#ffffff')
			tr
				td
					img(src="#{path_local}_Video_D.jpg", alt=atl_text_header, style="display:block; width:100%; height: auto;", class="mobile_badge_video")

	+space_body_color('20','#e8eff1')		

	+body_parragraph('20px', '20px', 'set_padding_20px', '#e8eff1', "13px", "18px", "#455560", "","center") 

		|Michael Fredericks, lead Portfolio Manager for the Blackrock Multi-Asset Income Fund.

	+space_body_color('18','#e8eff1')	
	+body_parragraph('25px', '25px', 'set_padding_20px', '#', "0px", "0px", "#707372", "","center") 
		+space_body_color('1','#cccccc')	

			
	//two column part 1

	+body_parragraph('25px', '25px', 'set_padding_20px', '#e8eff1')
		+table
			tr
				//Left block
				td(valign="top", class="block_mobile")
					+table_break('260','left','set_mobile_width_100_pct')
						tr
							td
								+space_body_color('25','#e8eff1')	

						tr
							td

								img(src="#{path_local}_Chart.jpg", alt=atl_text_offer3,  width="260", height="auto", class="set_mobile_image_module_100_pct", style="font-family:Arial;font-size:11px;display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )


				//Right block
				td(valign="top", class="block_mobile")
					+table_break('260','right','set_mobile_width_100_pct')					

						tr
							td
								+space_body_color('25','#e8eff1','mobile_top_11px')	
						tr
							+td_title_blue Later Stages <br class="hide_for_mobile"> of Economic Expansion

						tr
							+td_paragraph_blue Even more necessary to avoid <span style="white-space: nowrap;">over-priced</span> and crowded trades in later stages of market cycle.

	//two column part 2

	+body_parragraph('25px', '25px', 'set_padding_20px', '#e8eff1')
		+table
			tr
				//Left block
				td(valign="top", class="block_mobile")
					+table_break('260','right','set_mobile_width_100_pct')					

						tr
							td
								+space_body_color('25','#e8eff1','mobile_top_11px')		
						tr
							+td_title_blue Not All Bonds <br class="hide_for_mobile"> Are Created Equal

						tr
							+td_paragraph_blue Despite lower rates for longer, avoid <br>the draw of lower quality bonds in the search&nbsp;for higher yield.


				//Right block
				td(valign="top", class="block_mobile")
					+table_break('260','right','set_mobile_width_100_pct')					

						tr
							td
								+space_body_color('25','#e8eff1','mobile_top_11px')		
						tr
							+td_title_blue Different Securities, Different <br class="hide_for_mobile"> Exposure: MLPs & Preferreds

						tr
							+td_paragraph_blue MLPs tend to experience more volatility&nbsp;in later stages of expansion, while preferred stocks look attractive given less interest rate sensitivity compared to bonds.


	+space_body_color('25','#e8eff1')	
	
	+table
			tr
				td(align="center", class="mobile_top_11px")
					a(href="#")
						img(src="#{path_local}_CTA_green.jpg", alt="",  width="157", height="auto", class="", style="font-family:Arial;font-size:11px;display: block; margin: 0 auto; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )

	+space_body_color('40','#e8eff1')	
	+space_body_color('1','#cccccc')	
