+body_parragraph('25px', '25px', 'set_padding_0px', '#ffffff') 
	+table_background('#5e2750')
		tr
			td
				+space_body_color('5','#5e2750')

	+title_menu_footer('#6e3d62','border_bottom_gray mobile_font_16px','16px','8px') 

		| WHAT'S IN STORE FOR 
		strong(style="font-weight: bold !important;") YOUR&nbsp;NEXT&nbsp;ESCAPE?
	+table_background('#5e2750')	
		tr
			td(style="padding:8px 0px", class="padding_top_zero")
				+table_background('#5e2750')
					tr
						td(class="block_mobile padding_TB_5PX border_bottom_gray border_bottom_l_gray") 
							a(href=link_menu_flights, style="text-decoration:none;") 
								+tab_menu_footer('set_mobile_image_module_100_pct','#5e2750','#ffffff','135',link_menu_flights, 'FLIGHTS' )

						td(width="3", class="hide_for_mobile")		
							img(src="#{path_local}_Icon_Divi.jpg", width="3", height="44",  style=" font-size:11px;", border="0")

						td(class="block_mobile padding_TB_5PX  border_bottom_gray border_bottom_l_gray ") 
							a(href=link_menu_hotels, style="text-decoration:none;") 
								+tab_menu_footer(' set_mobile_image_module_100_pct','#5e2750','#ffffff','135',link_menu_hotels, 'HOTELS' )

						td(width="3", class="hide_for_mobile")		
							img(src="#{path_local}_Icon_Divi.jpg", width="3", height="44",  style=" font-size:11px;", border="0")

						td(class="block_mobile padding_TB_5PX border_bottom_gray border_bottom_l_gray  ") 
							a(href=link_menu_cars, style="text-decoration:none;") 
								+tab_menu_footer('  set_mobile_image_module_100_pct','#5e2750','#ffffff','135',link_menu_cars, 'CARS' )

						td(width="3", class="hide_for_mobile")		
							img(src="#{path_local}_Icon_Divi.jpg", width="3", height="44",  style=" font-size:11px;", border="0")

						td(class="block_mobile padding_TB_5PX border_bottom_l_gray") 
							a(href=link_menu_cruises, style="text-decoration:none;") 
								+tab_menu_footer(' set_mobile_image_module_100_pct','#5e2750','#ffffff','135',link_menu_cruises, 'CRUISES' )										


+body_parragraph('25px', '25px', 'una_clase', '#ffffff') 
	+table
		tr
			td(style="text-align:center; ", align="center")

				img(src="#{path_local}_Take.jpg",)					